.container {
  display: grid;
  justify-content: center;
}

.input-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 16px;
}

.calculate-button {
  grid-column-start: 1;
  grid-column-end: 3;
}