.line-item {
  display: grid;
  grid-template-columns: .8fr .8fr;
  justify-items: end;
}

.summary {
  margin: 8px 0px 16px;
  border-top: 1px solid black;
  font-weight: 600;
}

.calculated {
  margin: 8px 0px 16px;
  font-weight: 600;
}